html,
body {
  font-family: 'Quicksand', serif;
  font-size: 14px;
  font-weight: 300;
  
}
 /*html {
   background-image: url(/mukuko-studio-tPKQwYHy8q4-unsplash.jpg);
  overflow-y: hidden !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
html{ 
  background-image: url(/mukuko-studio-tPKQwYHy8q4-unsplash.jpg) ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  /*background-color: #999;*/

}
/*.hero.is-success {
  background: #f2f6fa;
}*/
.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}
a {
  color: #fff;
}
a:hover {
  color: #bababa;
}
.languages {
  margin-top: 10px;
}
.footer-text {
  font-weight: initial;
}
.title{
  color: black;
}

#reset-container{
 margin: auto;
}
h1{
  text-align: center;
  font-size: 40px;
}
.home-text{
  text-align: center;
  font-size: 25px; 
  color: white;
  margin-right: 150px; 
  margin-left: 150px;
}
.navbar-brand{
  font-size: 2em;
  
}
.delete-btn{
  background-color: red;
  color: white;
  font-weight: bolder;
  margin-left: 30px;
  margin-bottom: 5px;
}
/* .li-tag{
    list-style-type: none; */
    
/* } */
.card-content{
  text-align: center;
}
#submit-food{
  color: black;
}
#calorie-total{
  padding: 5px;
  margin: 10px;
  color: black;
}

.workout-imgs{ 
  width: 250px;
  height: 250px;
  padding: 40px;
}
.logo {
  color: maroon;
  font-weight: bold;
  font-family: 'Gill sans',sans-serif;
}
