html,
body {
  font-family: 'Quicksand', serif;
  font-size: 14px;
  font-weight: 300;
}
html {
  overflow-y: hidden !important;
  background-image: url('food.jpg') !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero.is-success {
  background: #f2f6fa;
}
.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 5rem;
  background-color: rgba(255, 255, 255, 0.1);
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}
a {
  color: #fff;
}
a:hover {
  color: #bababa;
}
.languages {
  margin-top: 10px;
}
.footer-text {
  font-weight: initial;
}
.title{
  color: black;
}

#reset-container{
 margin: auto;

  
}
h1{
  text-align: center;
  font-size: 40px;
}
#home-text{
  text-align: center;
}
.navbar-brand{
  font-size: 2em;
  
}
.delete-btn{
  background-color: red;
  color: white;
  font-weight: bolder;
  margin-left: 30px;
  margin-bottom: 5px;
}
/* .li-tag{
    list-style-type: none; */
    
/* } */
.card-content{
  text-align: center;
}
#submit-food{
  color: black;
}